<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>-->
<ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>

    </ion-buttons>
    <ion-title>
     OfertaloTodo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar  color="blue" role="banner"class="nav-header nav-header-plus" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
    </ion-toolbar>

<ion-slides pager="true" >
  <ion-slide class="img">
    
      <img src="/assets/img/publicidad.png" alt="" />
     
    
  </ion-slide> 
   <ion-slide class="img">
    <img src="/assets/img/imagen.png" alt="" />
 
  </ion-slide>
  
     
  
  <ion-slide class="img"> 
        <div >
      <img src="/assets/img/pagofacil.png" alt="" />
      <h3>Comprar es mas fácil</h3>
    </div>
  </ion-slide>
</ion-slides>
<!-- publicidad de productos de 4 fotos parte inferior  -->
<ion-grid fixed> 
  <ion-row>
    <ion-col size="6" size-md="6">   
                    <ion-card >      
                      <a routerLink="/compra" ><img src="assets/img/laptop.png" width="10%" height="200px"/></a>
                      <ion-card-header>
                        <ion-card-subtitle>Nuevo</ion-card-subtitle>
                        <span> Bs.</span>
                        <span>2504000</span>                                    
                          <span>lenovo Procesador I5</span>                 
                        </ion-card-header>
                        <br>
                        <br>
                    </ion-card>
      </ion-col>
<!-- ----------------------------------------------------------------------------------- -->
          <ion-col size="6" size-md="6">  
                    <ion-card >      
                    <a routerLink="/compra" ><img src="assets/img/play.png" width="10%" height="200px"/></a>
                      <ion-card-header>
                      <ion-card-subtitle>Nuevo</ion-card-subtitle>
                      <span> Bs.</span>
                      <span>4504000</span>                             
                    <span> Playstation 4 500GB</span>         
                    </ion-card-header> 
                  </ion-card>        
            </ion-col>
<!-- ---------------------------------------------------------------------------------------- -->

          <ion-col size="6" size-md="6">  
                        <ion-card >
                      <a routerLink="/compra" ><img src="assets/img/ipad.png" width="10%" height="200px"/></a>
                      <ion-card-header>
                      <ion-card-subtitle>Nuevo</ion-card-subtitle>
                      <span> Bs.</span>
                      <span>3100000</span>                           
                      <span> Ipad con wifi</span>                       
                        </ion-card-header>
                      </ion-card>
                      <br>
                      <br>
        </ion-col>
<!--  -------------------------------------------------------------------------------------------------   -->     
<ion-col size="6" size-md="6">  
<ion-card >
    <a routerLink="/compra" ><img src="assets/img/j7.jpg" width="10%" height="200px"/></a>
    <ion-card-header>
      <ion-card-subtitle>Nuevo</ion-card-subtitle>
      <span> Bs.</span>
      <span>2090000</span> 
                              
      <span> Samsung J7 16gb</span>                       
  
    </ion-card-header>
  </ion-card>
  <br>
   <br>
</ion-col>
<!-- ---------------------------------------------------------------------------------------- -->
</ion-row>
</ion-grid> 
  </ion-content>
